<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <header>
        <div class="container">
            <p>O melhor layout do mundo!</p>
        </div>

    </header>

    <main>
        <div class="container">

        <aside>
            menu lateral
        </aside>


    
        <section>
            <h1>Estruturando um layout com HTML e CSS</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio modi ratione, facere neque fugiat officia consequatur sunt incidunt earum eum error porro qui nihil voluptatum! Fugit natus magnam iure sed?
                Ea esse neque maiores fugit alias ipsam recusandae voluptas deserunt pariatur, fuga necessitatibus ut eum, consequuntur placeat vitae, architecto aliquid. Vel a earum et repellat molestias id rem minus. Placeat?
                Quod eveniet veritatis repellat deleniti libero adipisci optio sed rem cum, tempore dolores magni, at veniam amet iusto consequuntur culpa facere rerum. Accusantium sapiente tempore perspiciatis architecto mollitia assumenda harum.
            </p>

                <h2>
                    Meus projetos
                </h2>

            <div class="projects">

                <div class="project">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-G9cqlcbU43ap70HPopIa4N3qDw8bDgMq6O7l6-69_g&s" alt="">
                    projeto1
                </div>

                <div class="project">
                    <img src="https://s2-oglobo.glbimg.com/tWUwM044FYK-wfDW_fgU2sengXQ=/0x0:2048x1365/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2024/L/p/4xsfmIRMA3MBloxUUsxw/53548388304-2ee512c58d-k.jpg" alt="">
                    projeto2

                </div>

                <div class="project">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgLUDZMb6kmm6KyN_-PMNi3UfZ2T341s_Rc3-i0HZMo8WDdKGMlJclE5Ii0WWFJ1GiP3Q&usqp=CAU" alt="">
                    projeto3
                    
                </div>

            </div>
        </section>

        </div>

    </main>


    <footer>
        <div class="container">
            <p>Feito com amor por dandan</p>
        </div>

    </footer>

</body>

</html>